[submodule "xrtc_server/thirdlib/yaml-cpp"]
	path = xrtc_server/thirdlib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "xrtc_server/thirdlib/libev"]
	path = xrtc_server/thirdlib/libev
	url = https://github.com/enki/libev.git
[submodule "xrtc_server/thirdlib/jsoncpp"]
	path = xrtc_server/thirdlib/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git